* { margin: 0; padding: 0; box-sizing: border-box; }
body { 
    background: #000; 
    color: #ffd700; /* Dourado (Gold) */
    font-family: 'Courier New', monospace; 
    overflow: hidden; 
}

#portalCanvas {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    z-index: -1;
}

main { 
    position: relative; 
    z-index: 10; 
    max-width: 480px; 
    margin: 8vh auto; 
    padding: 20px; 
}

.section { 
    border: 1px solid rgba(255, 215, 0, 0.5); 
    padding: 25px; 
    margin-bottom: 25px; 
    background: rgba(0, 0, 0, 0.96); 
    backdrop-filter: blur(30px); 
    box-shadow: 0 0 50px rgba(255, 215, 0, 0.1);
    text-align: center;
}

h1 { 
    font-size: 1.7rem; 
    text-shadow: 0 0 30px #ffd700; 
    letter-spacing: 6px;
    color: #ffd700;
}

.owner-link { 
    display: flex; justify-content: center; align-items: center; gap: 12px;
    border: 2px solid #ffd700; 
    padding: 22px; text-decoration: none; 
    color: #fff; font-weight: bold; 
    background: rgba(255, 215, 0, 0.1);
    box-shadow: 0 0 30px #ffd700, inset 0 0 15px #ffd700;
    text-shadow: 0 0 10px #fff;
    transition: 0.5s;
}

.owner-link:hover { 
    background: #ffd700; 
    color: #000; 
    box-shadow: 0 0 80px #ffd700; 
}

.status { font-size: 0.7rem; opacity: 0.8; letter-spacing: 1px; }
